# **Print Function:**
 print() function is an built-in function that displays messages, variables and formatted output.

In [2]:
## Python is case sensitive
print()
print(12)
print(12.5)
print(True)
#print(true)<-- won't work

12
12.5
True

# **Four fundamental datatypes:**


*   Int
*   Float

*   Boolean
*   String

**Type Function:** type() functions returns the type of the specified object.

In [3]:
print(type(12))
print(type(12.5))
print(type(True))
print(type('1.0'))
print(type(-0))
print(type(0.0))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

# **Typecasting:**
 Typecasting is the process of converting one datatype into another.

In [4]:
# int- str, bool, float

print(int(3.14), int(True), int(False), int('3'))
#print(int('3.5')) ---> will throw an error
#print(int('a'))   ---> will throw an error

# str to -> int, bool, float
print(str(3.14), str(True), str(False), str(3))

# float to -> int, str, bool
print(float(3), float(True), float(False), float('3'))

# boolto -> int, str, float
print(bool(3), bool(True), bool(False), bool('3'))
print(bool('0'),bool(0),bool(0.0), bool('False'), bool(''), bool(' '))

3 1 0 3
3.14 True False 3
3.0 1.0 0.0 3.0
True True False True
True False False True False True