# ***Data Structures:***

***
1.   List
2.   Dictionaries
3.   Tuples
4.   Sets
***

# ***Lists:***
Lists are built-in data structures in python that holds ordered, changeable collection of items that allows duplicate members and can hold diffrent datatypes. A list is defined using square brackets([]).

In [ ]:
Student=['AK', 12, 'Noida',32,45,3.2,True,9]

print(Student)
type(Student)

['AK', 12, 'Noida', 32, 45, 3.2, True, 9]

list

In [ ]:
lst=[2,3,45,'kk',98,4.5,9]

for i in range(0,len(lst)):
  print(lst[i])                  #prints the ith indexed elt

lst[0:4]                         #gives the first four elts of the list

2
3
45
kk
98
4.5
9

[2, 3, 45, 'kk']

***Write a program to feed first 100 numbers in a list.***

In [ ]:
lst=[]

for i in range(1,101):
  lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

***Give a list of numbers betweeen 1 to 1000 that are divisible by 5 and 7 and are even.***

In [ ]:
lst=[]

for i in range(1,1001):
  if ((i%5==0) and (i%7==0) and (i%2==0)):
   lst.append(i)

print(lst)

[70, 140, 210, 280, 350, 420, 490, 560, 630, 700, 770, 840, 910, 980]

In [ ]:
lst=[]
for i in range(2,1001,2):
 if ((i%5==0)and(i%7==0)):
  lst.append(i)

print(lst)

[70, 140, 210, 280, 350, 420, 490, 560, 630, 700, 770, 840, 910, 980]

***List all the primes between 1 to 1000.***

In [ ]:
Primes=[]

for n in range (2,1001):
  c=0
  for i in range (2,n):
   if n%i==0:
      c+=1
  if c==0:
    Primes.append(n)

print(Primes)
print(len(Primes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
168

***Out of the given list create a new list with only the numbers that are greater than 50.***

In [ ]:
lst=[34, 54, 33, 55, 80, 40]

clnlst=[]

for i in range(len(lst)):
  if lst[i]>=50:
    clnlst.append(lst[i])

print(clnlst)

[54, 55, 80]

# ***2D Lists:***

***Write a program to list all the elements of a 2D list.***

In [ ]:
#lists within a list--> a matrix
lst=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    print(lst[i][j])                # jth elt of the ith list(elt of the list lst)

1
2
3
4
5
6
7
8
9

***Print only the diagonal elements of a list (top left to bottom right).***

In [ ]:
lst=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i==j:
     print(lst[i][j])

1
5
9

***Print only the diagonal elements of a list (top right to bottom left).***

In [ ]:
lst=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i+j==2:
     print(lst[i][j])

3
5
7

***Print all the diagonal elements of a list.***

In [ ]:
lst=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    if ((i==j) or (i+j==2)):
     print(lst[i][j])

1
3
5
7
9

***Find the sum of both the diagonal elements of a list.***

In [ ]:
s=0
lst=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    if ((i==j) or (i+j==(len(lst)-1))):
     s=s+lst[i][j]

if len(lst)%2==0:
 print(s)
else:
  print(s-lst[len(lst)//2][len(lst)//2])

20