# ***Dictionaries:***
Dictionaries are built-in data structures that stores values in Key:Value pairs. The values in a dictionary can be of any data type and can be duplicated, whereas Keys can't be duplicated and must be immutable. A dictinary and be created using curly brackets({}).

In [ ]:
dct= {1:'Tanish',2:'Manish',3:'Rajnish'}        # values are added in pairs(key:value)
dct[4]='Mohit'                                  # to add a new pair to the dictionary
dct

{1: 'Tanish', 2: 'Manish', 3: 'Rajnish', 4: 'Mohit'}

In [ ]:
len(dct)                                        # each pair is an elt of a dictionary

4

**`Input Function:`**

In [ ]:
name= input('Enter the name: ')
print(name)

Enter the name: Ramesh
Ramesh

In [ ]:
dct={}

for roll_no in range (1,6):
  name= input ('Enter the name of the roll no. '+str(roll_no)+': ')
  dct[roll_no]=name

print(dct)

Enter the name of the roll no. 1: Tanish
Enter the name of the roll no. 2: Vanish
Enter the name of the roll no. 3: Kanish
Enter the name of the roll no. 4: Abc
Enter the name of the roll no. 5: Xyz
{1: 'Tanish', 2: 'Vanish', 3: 'Kanish', 4: 'Abc', 5: 'Xyz'}

In [ ]:
data= {1:{'Name':'Tanish','Phone':8734587345,'Address':'Noida'},
      2:{'Name':'Manish','Phone':8734587346,'Address':'Noida'},
      3:{'Name':'Nitesh','Phone':8734587387,'Address':'Noida'}}

data[3]['Name']

'Nitesh'

In [ ]:
len(data)

3

In [ ]:
data.keys()

dict_keys([1, 2, 3])

In [ ]:
data.values()

dict_values([{'Name': 'Tanish', 'Phone': 8734587345, 'Address': 'Noida'}, {'Name': 'Manish', 'Phone': 8734587346, 'Address': 'Noida'}, {'Name': 'Nitesh', 'Phone': 8734587387, 'Address': 'Noida'}])

In [ ]:
data= {1:{'Name':'Tanish','Phone':8734587345,'Address':'Noida','Marks':{'Hindi':45,'English':54,'Math':56}},
      2:{'Name':'Manish','Phone':8734587346,'Address':'Noida','Marks':{'Hindi':67,'English':78,'Math':90}},
      3:{'Name':'Nitesh','Phone':8734587387,'Address':'Noida','Marks':{'Hindi':35,'English':53,'Math':34}}}

for Roll_No in data.keys(): #would take only the key values skipping the ones that are not there
  Total_Marks=sum(list(data[Roll_No]['Marks'].values())) #converts the values of the dic into a list then sums it.
  Total_exams=len(data[Roll_No]['Marks'].values())
  print('Roll No.   : '+str(Roll_No))
  print('Name.      : '+str(data[Roll_No]['Name']))
  print('Total Marks: '+str(Total_Marks))
  print('Average    : '+str(round((Total_Marks/Total_exams),2)))
  print('-'*25)

Roll No.   : 1
Name.      : Tanish
Total Marks: 155
Average    : 51.67
-------------------------
Roll No.   : 2
Name.      : Manish
Total Marks: 235
Average    : 78.33
-------------------------
Roll No.   : 3
Name.      : Nitesh
Total Marks: 122
Average    : 40.67
-------------------------

In [ ]:
data= {1:{'Name':'Ashish','Phone':8734587345,'Address':'Noida','Marks':{'Hindi':45,'English':54,'Math':56}},
      2:{'Name':'Manish','Phone':8734587346,'Address':'Noida','Marks':{'Hindi':67,'English':78,'Math':90}},
      3:{'Name':'Nitesh','Phone':8734587387,'Address':'Noida','Marks':{'Hindi':35,'English':53,'Math':34}}}

for roll_no in range (1,4):
  Total_Marks=sum(list(data[roll_no]['Marks'].values()))
  Total_exams=len(data[roll_no]['Marks'].values())
  data[roll_no]['Average']=round((Total_Marks/Total_exams),2)

print(data)

{1: {'Name': 'Ashish', 'Phone': 8734587345, 'Address': 'Noida', 'Marks': {'Hindi': 45, 'English': 54, 'Math': 56}, 'Average': 51.67}, 2: {'Name': 'Manish', 'Phone': 8734587346, 'Address': 'Noida', 'Marks': {'Hindi': 67, 'English': 78, 'Math': 90}, 'Average': 78.33}, 3: {'Name': 'Nitesh', 'Phone': 8734587387, 'Address': 'Noida', 'Marks': {'Hindi': 35, 'English': 53, 'Math': 34}, 'Average': 40.67}}

**Note:** **`We can have a list inside a dictonary and vice versa.`**