# ***For Loop:***
A For Loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

In [ ]:
for i in range(10):        #This parameter refers to the range which in this case is 0-9
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):       #The first parameter is the starting point, second is the range.
  print(i)

1
2
3
4
5
6
7
8
9
10

***Print the table of 13.***

In [ ]:
n=13
for i in range(1,11):
  print(n,'*',i,'=',n*i)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

***Print the table of a number n.***

In [ ]:
n = 35

for i in range(n,n*10+1,n):     #the third parameter is the step size.
  print(i)

35
70
105
140
175
210
245
280
315
350

***Table of 13 in reverse order:***

In [ ]:
n=13

for i in range(n*10,n-1,-n):
  print(i)

130
117
104
91
78
65
52
39
26
13

***Write a code to print the sum of first n numbers.***

In [ ]:
n=7
s=0
for i in range(1,n+1):
  s=s+i
print(s)

28

# ***Nested For Loop:***

***Two dices are rolled. What is the probability of getting a sum of eight?***

In [ ]:
c=0
num=8

for i in range(1,7):
 for j in range(1,7):         #nested for loop
  if i+j==num:
    c+=1
print(round((c/36)*100,2),'%')

13.89 %

***Three dices are rolled. What is gthe probability of getting the sum as nine?***

In [ ]:
c=0
num=9
for i in range (1,7):
  for j in range (1,7):
    for k in range (1,7):
      if i+j+k==num:
        c+=1
print(round((c/216)*100,2),'%')

11.57 %

***Three dices are rolled, check if the probablility of getting every number  is the same or not.***

In [ ]:
for num in range (3,19):
 c=0

 for i in range (1,7):
  for j in range (1,7):
    for k in range (1,7):
      if i+j+k==num:
        c+=1
 print(num,': ',round((c/216)*100,2),'%')

3 :  0.46 %
4 :  1.39 %
5 :  2.78 %
6 :  4.63 %
7 :  6.94 %
8 :  9.72 %
9 :  11.57 %
10 :  12.5 %
11 :  12.5 %
12 :  11.57 %
13 :  9.72 %
14 :  6.94 %
15 :  4.63 %
16 :  2.78 %
17 :  1.39 %
18 :  0.46 %