# **Operators**
Operators in general are used to perform operations on values and variables.

## **Arithmetic Operators :**
Arithmetic operators in Python are used to perform common mathematical operations such as addition, subtraction, multiplication and division.

In [2]:
## Arithmetic operators on integers
print(2+3)     # Addition
print(2-3)     # Subtraction
print(2*3)     # Multiplication
print(2/3)     # Division
print(4/2)     # Always returns a float value
print(2//3)    # Floor Division
print(2%3)     # Modulus
print(2**3)    # Exponent

5
-1
6
0.6666666666666666
2.0
0
2
8

In [3]:
## Arithmetic operators on Strings and Booleans
print(3*'Python')       # Reproduces the text n number of times
print('Python'+'Class') # Concatenates
print(True+True+True)
print(True+False+False)
print('Python'*True)
print('Python'*False)
print(5+True)
print(5*True)

PythonPythonPython
PythonClass
3
1
Python

6
5

## **Comparison Operators :**
Comparison operators in Python compare values and return a Boolean result.

In [4]:
print(2==3) # equals to
print(2!=3) # not equals to
print(2>3)  # Greater than
print(2<3)  # Lesser than
print(2>=3) # Greater than equal to
print(2<=3) # Lesser than equal to

False
True
False
True
False
True

##**Assignment of values to variables :**

In [5]:
a=10       # Variable 'a' has been assigned a value 10
b=20       # Variable 'b' has been assigned a value 20

#Arithmetic Operations on the Variables defined above:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
-10
200
0.5
0
10
100000000000000000000

In [6]:
a         # running this gives the assigned values as a result

10

In [7]:
b         # running this gives the assigned values as a result

20

In [8]:
del b     # will delete the variable b

In [10]:
a=10
print(a)

a=5
print(a)

print(a)   # last updated value is stored

a=7
print(a)
print(a+2)
print(a)

10
5
5
7
9
7

In [11]:
a=7
print(a)
a=a+2     # assigns a new value to the variable a
a+=2      # another way of writting a=a+2 ##similarly for other operators
print(a)

7
11

## **Logical Operators :**


*   and
*   or

*   not

Logical operators in Python are used to combine conditional statements and return a Boolean result.

In [12]:
# not(True)  -->False
# not(False) -->True
# not(1)     -->False
# not(0)     -->True
# not(2)     -->False
# not(-1)    -->False
# not(1.2)   -->False
# not('word')-->False

False

## **Some Questions :**

***Write a program to see if a no. is divisible by 5 or not.***

In [13]:
n=35
print(n%5==0)

True

***Write a program to check if a no. is divisible by 5 and 7 but not 3 and the no. should also be even.***

In [14]:
n=70

print((n%5==0)and (n%7==0)and (n%3!=0)and (n%2==0))

True

***Write a program to check if a no. is divisible either by 5 or 7 but not by either (2 or 3).***

In [15]:
n= 15

print(((n%5==0) or (n%7==0))and((n%3!=0) or (n%2!=0)))

True